.title {
  text-align: center;
}

.container {
  margin-top: 20px;
  width: 100%;
}

.searchFieldWrapper {
  margin-top: 20px;
}

.searchResult {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 20px;
}
